@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@media (min-width: 150px) and (max-width: 1350px) {
  .form-inline {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .form-inline .form-group .form-control {
    color: var(--bg-color);
    border: 1px solid var(--bg-color);
    padding: 15px;
    width: 200px;
    margin: 5px;
  }
}
@media (min-width: 1350px) {
  .bottom .center_txt_bottom {
    margin: 2%;
  }
  .bottom .form-inline {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 230px);
    margin: 0;
  }
}
@media (min-width: 1201px) {
  .side-menu, .hamb {
    display: none;
  }
  .header__container {
    max-height: 143px;
    margin: 0 107px;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    align-items: center;
  }
  .logo {
    align-items: center;
    justify-content: center;
    max-width: 1700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo img {
    width: 80px;
    height: 100px;
  }
  #menu-toggle {
    display: none;
  }
  .header__number {
    justify-self: flex-end;
  }
  .menu {
    padding-left: 0;
  }
  .menu .menu__body {
    padding-left: 0;
    display: flex;
    align-items: center;
    gap: 35px;
  }
  .menu .menu_item {
    position: relative;
  }
  .menu .menu_item:hover .submenu {
    display: block;
  }
  .menu .menu_item:hover .submenu li:hover {
    /* плавный переход */
  }
  .menu .menu_item:hover .submenu li:hover a {
    transition: all 0.3s ease;
    color: #251904;
  }
  .menu .menu_item .submenu {
    padding-left: 0;
    display: none;
    position: absolute;
    left: -15px;
    top: 20px;
    width: 200px;
  }
  .menu .menu_item .submenu a {
    text-decoration: none;
    color: #F1F0EE;
  }
  .menu .menu_item .submenu li {
    background: linear-gradient(to right, rgba(217, 192, 123, 0.7) 0%, rgba(217, 192, 123, 0.5) 50%, rgba(217, 192, 123, 0.1) 100%);
    margin-top: 15px;
    padding: 15px;
    border-radius: 10px;
  }
  .menu__link {
    text-decoration: none;
    color: #F1F0EE;
  }
  .menu__link:hover {
    color: var(--butt-color);
    transition-duration: 0.25s;
  }
  .footer__container {
    display: flex;
    justify-content: space-between;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #251904;
    max-height: 143px;
    margin: 0 107px;
    justify-self: center;
    align-items: center;
  }
  .footer__container .menu__footer {
    display: inline-flex;
    justify-content: space-between;
    margin-left: 1.5vh;
  }
  .footer__container hr {
    display: none;
  }
  .footer__container .footer__txt {
    justify-self: start;
  }
}
@media (max-width: 1201px) {
  .footer {
    padding: 3% 1%;
  }
  .footer .footer__container {
    margin: 1em;
  }
  .footer .footer__container .footer__txt {
    color: var(--black);
    display: flex;
    justify-content: center;
  }
  .footer .footer__container hr {
    border: 0.5px solid var(--black);
  }
  .footer .footer__container .menuf {
    display: flex;
    justify-content: space-around;
  }
  .footer .footer__container .menuf .menu__footer {
    padding: 0;
  }
  .footer .footer__container .menuf .menu__link {
    color: var(--black);
  }
  .header__container .logo {
    width: -moz-fit-content;
    width: fit-content;
    justify-self: center;
  }
  .header__container .logo img {
    justify-self: start;
  }
  .header__container .header__navigation {
    float: right;
  }
  .header__container .header__number {
    display: none;
  }
  .menu-btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 3em;
    right: 2em;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 3;
  }
  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--bg-color);
    transition-duration: 0.25s;
  }
  .menu-btn > span::before {
    content: "";
    top: -8px;
  }
  .menu-btn > span::after {
    content: "";
    top: 8px;
  }
  .menu {
    z-index: 1;
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: rgba(37, 25, 4, 0.95);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
  }
  .menu .menu__link {
    display: block;
    padding: 12px 24px;
    color: var(--bg-color);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
  }
  .menu .menu__link:hover {
    background-color: var(--text-color);
  }
  .menu .submenu {
    display: none;
  }
  .menu .submenu li {
    list-style-type: circle;
    padding: 10px;
  }
  .menu_item:hover .submenu {
    display: block;
  }
  .menu_item:hover .submenu li:hover {
    background-color: #8A6F3D;
    transition-duration: 0.25s;
  }
  #menu-toggle {
    opacity: 0;
  }
  #menu-toggle:checked ~ .menu-btn > span {
    transform: rotate(45deg);
  }
  #menu-toggle:checked ~ .menu-btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu-toggle:checked ~ .menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu-toggle:checked ~ .menu {
    visibility: visible;
    left: 0;
  }
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: var(--bg-color);
}

:root {
  --bg-color: #F1F0EE;
  --text-color:#8A6F3D;
  --butt-color:#D9C07B;
  --black: #251904;
}

/*------------------------------------HEADER------------------------------------*/
@media (min-width: 150px) and (max-width: 1350px) {
  .form-inline {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .form-inline .form-group .form-control {
    color: var(--bg-color);
    border: 1px solid var(--bg-color);
    padding: 15px;
    width: 200px;
    margin: 5px;
  }
}
@media (min-width: 1350px) {
  .bottom .center_txt_bottom {
    margin: 2%;
  }
  .bottom .form-inline {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 230px);
    margin: 0;
  }
}
@media (min-width: 1201px) {
  .side-menu, .hamb {
    display: none;
  }
  .header__container {
    max-height: 143px;
    margin: 0 107px;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    align-items: center;
  }
  .logo {
    align-items: center;
    justify-content: center;
    max-width: 1700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo img {
    width: 80px;
    height: 100px;
  }
  #menu-toggle {
    display: none;
  }
  .header__number {
    justify-self: flex-end;
  }
  .menu {
    padding-left: 0;
  }
  .menu .menu__body {
    padding-left: 0;
    display: flex;
    align-items: center;
    gap: 35px;
  }
  .menu .menu_item {
    position: relative;
  }
  .menu .menu_item:hover .submenu {
    display: block;
  }
  .menu .menu_item:hover .submenu li:hover {
    /* плавный переход */
  }
  .menu .menu_item:hover .submenu li:hover a {
    transition: all 0.3s ease;
    color: #251904;
  }
  .menu .menu_item .submenu {
    padding-left: 0;
    display: none;
    position: absolute;
    left: -15px;
    top: 20px;
    width: 200px;
  }
  .menu .menu_item .submenu a {
    text-decoration: none;
    color: #F1F0EE;
  }
  .menu .menu_item .submenu li {
    background: linear-gradient(to right, rgba(217, 192, 123, 0.7) 0%, rgba(217, 192, 123, 0.5) 50%, rgba(217, 192, 123, 0.1) 100%);
    margin-top: 15px;
    padding: 15px;
    border-radius: 10px;
  }
  .menu__link {
    text-decoration: none;
    color: #F1F0EE;
  }
  .menu__link:hover {
    color: var(--butt-color);
    transition-duration: 0.25s;
  }
  .footer__container {
    display: flex;
    justify-content: space-between;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #251904;
    max-height: 143px;
    margin: 0 107px;
    justify-self: center;
    align-items: center;
  }
  .footer__container .menu__footer {
    display: inline-flex;
    justify-content: space-between;
    margin-left: 1.5vh;
  }
  .footer__container hr {
    display: none;
  }
  .footer__container .footer__txt {
    justify-self: start;
  }
}
@media (max-width: 1201px) {
  .footer {
    padding: 3% 1%;
  }
  .footer .footer__container {
    margin: 1em;
  }
  .footer .footer__container .footer__txt {
    color: var(--black);
    display: flex;
    justify-content: center;
  }
  .footer .footer__container hr {
    border: 0.5px solid var(--black);
  }
  .footer .footer__container .menuf {
    display: flex;
    justify-content: space-around;
  }
  .footer .footer__container .menuf .menu__footer {
    padding: 0;
  }
  .footer .footer__container .menuf .menu__link {
    color: var(--black);
  }
  .header__container .logo {
    width: -moz-fit-content;
    width: fit-content;
    justify-self: center;
  }
  .header__container .logo img {
    justify-self: start;
  }
  .header__container .header__navigation {
    float: right;
  }
  .header__container .header__number {
    display: none;
  }
  .menu-btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 3em;
    right: 2em;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 3;
  }
  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--bg-color);
    transition-duration: 0.25s;
  }
  .menu-btn > span::before {
    content: "";
    top: -8px;
  }
  .menu-btn > span::after {
    content: "";
    top: 8px;
  }
  .menu {
    z-index: 1;
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: rgba(37, 25, 4, 0.95);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
  }
  .menu .menu__link {
    display: block;
    padding: 12px 24px;
    color: var(--bg-color);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
  }
  .menu .menu__link:hover {
    background-color: var(--text-color);
  }
  .menu .submenu {
    display: none;
  }
  .menu .submenu li {
    list-style-type: circle;
    padding: 10px;
  }
  .menu_item:hover .submenu {
    display: block;
  }
  .menu_item:hover .submenu li:hover {
    background-color: #8A6F3D;
    transition-duration: 0.25s;
  }
  #menu-toggle {
    opacity: 0;
  }
  #menu-toggle:checked ~ .menu-btn > span {
    transform: rotate(45deg);
  }
  #menu-toggle:checked ~ .menu-btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu-toggle:checked ~ .menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu-toggle:checked ~ .menu {
    visibility: visible;
    left: 0;
  }
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: var(--bg-color);
}

:root {
  --bg-color: #F1F0EE;
  --text-color:#8A6F3D;
  --butt-color:#D9C07B;
  --black: #251904;
}

.header {
  height: 1100px;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  font-size: 18px;
  padding: 20px 0;
}
.header .logo {
  align-items: center;
  justify-content: center;
  max-width: 1700px;
  margin: 0 auto;
  align-items: center;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.header .logo img {
  width: 80px;
  height: 100px;
}
.header .logo:hover {
  transform: scale(1.1);
}
.header .header__number {
  justify-self: flex-end;
}
.header .center_txt {
  display: grid;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  top: 300px;
  padding: 0 20px;
  font-family: "Roboto";
  font-style: normal;
}
.header .center_txt .first_txt {
  justify-self: center;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: calc(35px + 1.3157894737vw);
  line-height: 5vh;
  letter-spacing: 0.02em;
  font-variant: all-small-caps;
  color: #D9C07B;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.header .center_txt .first_txt._active {
  transform: translate(0px, 0px);
  opacity: 1;
}
.header .center_txt p {
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.header .center_txt p._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.8s ease 0.4s;
}
.header .center_txt .second_txt {
  justify-self: center;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-weight: 400;
  font-size: calc(20px + 0.2631578947vw);
  line-height: 40px;
  color: var(--bg-color);
}
.header .center_txt .third_txt {
  justify-self: center;
  margin: 0;
  padding: 5px;
  font-weight: 400;
  font-size: calc(20px + 0.2631578947vw);
  line-height: 40px;
  color: #FFFFFF;
}

.title {
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.title._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.first_txt {
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.first_txt._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.second_txt {
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.second_txt._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.8s ease 0.3s;
}

.third_txt {
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.third_txt._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.8s ease 0.3s;
}

/*------------------------------------FOOTER------------------------------------*/
.footer {
  height: auto;
  background-color: #D9C07B;
}
.footer .footer__container {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  color: #251904;
  max-height: 143px;
  margin: 0 10vw;
  justify-self: center;
  align-items: center;
}
.footer .menuf {
  padding-left: 0;
  justify-content: space-around;
}
.footer .menuf .menu__footer {
  padding-left: 0;
  align-items: center;
  gap: 25px;
}
.footer .menuf .menu_item {
  position: relative;
}
.footer .menu__link {
  display: block;
  margin: 5px;
  color: #251904;
  text-decoration: none;
  margin: 1vh;
}
.footer .menu__link:hover {
  color: rgba(37, 25, 4, 0.5);
}

/* W3C standard
   сейчас только для Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #F1F0EE #251904;
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #F1F0EE;
}

*::-webkit-scrollbar-thumb {
  background-color: #251904;
  border-radius: 5px;
  border: 3px solid #F1F0EE;
}

@media (min-width: 1350px) {
  .container-1 {
    height: auto;
    padding: 5% 10%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    justify-items: center;
  }
  .container-1 .box4 {
    grid-row: 1/4;
    grid-column: 3/5;
  }
}
@media (min-width: 750px) and (max-width: 1350px) {
  .container-1 {
    height: auto;
    padding: 10% 10%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(1fr, 350px));
    grid-template-rows: repeat(5, minmax(1fr, 450px));
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    justify-items: center;
  }
  .container-1 .box1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .container-1 .box1 img {
    border-radius: 30px;
  }
  .container-1 .box2 {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .container-1 .box3 {
    grid-row: 1/2;
    grid-column: 3/4;
  }
  .container-1 .box4 {
    grid-row: 2/3;
    grid-column: 1/4;
  }
}
@media (min-width: 150px) and (max-width: 750px) {
  .container-1 {
    height: auto;
    padding: 10% 15%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, minmax(1fr, 450px));
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    justify-items: center;
  }
  .container-1 .box1 {
    grid-row: 1/3;
    grid-column: 1/3;
  }
  .container-1 .box1 img {
    border-radius: 30px;
  }
  .container-1 .box2 {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .container-1 .box3 {
    grid-row: 3/4;
    grid-column: 2/3;
  }
  .container-1 .box4 {
    grid-row: 4/6;
    grid-column: 1/3;
  }
}
.top {
  background-color: var(--bg-color);
  height: auto;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
.top img:hover {
  opacity: 0.8;
  transform: scale(0.9);
  transition: all 0.2s ease;
}

.box1 {
  width: 100%;
  height: 100%;
  grid-row: 1/3;
  grid-column: 1/3;
  transform: translate(-20%, 0px);
  opacity: 0;
  transition: all 0.7s ease 0.2s;
}
.box1 img {
  width: 100%;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
.box1._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.box2 {
  width: 100%;
  height: 100%;
  grid-row: 3/4;
  grid-column: 1/2;
  transform: translate(0px, 20%);
  opacity: 0;
  transition: all 0.7s ease 0.2s;
}
.box2 img {
  width: 100%;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
.box2._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.box3 {
  width: 100%;
  height: 100%;
  grid-row: 3/4;
  grid-column: 2/3;
  transform: translate(0px, 20%);
  opacity: 0;
  transition: all 0.7s ease 0.4s;
}
.box3 img {
  width: 100%;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
.box3._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.box4 {
  width: 100%;
  padding: 2.5em;
  color: #251904;
  border-radius: 30px;
  background: linear-gradient(0deg, rgba(217, 192, 123, 0), rgb(217, 192, 123));
  transform: translate(20%, 0px);
  opacity: 0;
  transition: all 0.7s ease 0.5s;
}
.box4._active {
  transform: translate(0px, 0px);
  opacity: 1;
}
.box4 h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: calc(20px + 0.2631578947vw);
  line-height: 35px;
}
.box4 h4 {
  margin-bottom: 0.5em;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: calc(18px + 0.2631578947vw);
  line-height: 27px;
}

@media (min-width: 150px) and (max-width: 1350px) {
  .center_txt_bottom {
    margin: 0%;
  }
}
@media (min-width: 1635px) {
  .bottom .container-3 .content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 2em;
    color: black;
  }
}
@media (min-width: 500px) and (max-width: 1201px) {
  .container-2 .content {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
}
@media (min-width: 150px) and (max-width: 500px) {
  .container-2 .content {
    grid-template-columns: repeat(auto-fill, 1fr);
  }
}
@media (min-width: 1201px) {
  .middle .container-2 .content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 3em;
    grid-row-gap: 5em;
    justify-content: space-between;
    color: black;
  }
}
/*------------------------------------HEADER------------------------------------*/
.header {
  height: 1100px;
  background: linear-gradient(0deg, rgba(38, 25, 2, 0.6) 0%, rgba(38, 25, 2, 0.85) 100%, rgba(38, 25, 2, 0.9) 100%), url(../img/main_photo.png);
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  font-size: 18px;
  padding: 20px 0;
}

/*===========================TOP===========================*/
.top p {
  padding: 3% 0;
  font-size: calc(16px + 0.2631578947vw);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  line-height: 27px;
}

/*===========================MIDDLE===========================*/
.middle {
  height: auto;
  background-color: #F1F0EE;
}
.middle .title {
  text-align: center;
  margin: 0 0 5% 0;
  font-weight: 600;
  font-size: calc(28px + 1.3157894737vw);
  line-height: 52px;
  letter-spacing: 0.02em;
  font-variant: all-small-caps;
  color: #8A6F3D;
}
.middle .container-2 {
  padding: 0 7% 5% 7%;
  position: relative;
}
.middle .container-2 .btn-default {
  position: relative;
  justify-self: center;
  padding: 15px;
  width: 150px;
  color: #251904;
  border-radius: 30px;
  background-color: #D9C07B;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  transform: translate(0px, 50%);
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.middle .container-2 .btn-default a {
  padding: 15px;
}
.middle .container-2 .btn-default._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.5s ease 0.5s;
}
.middle .container-2 .btn-default:hover {
  background-color: #8A6F3D;
  transition: all 0.1s ease;
}
.middle .container-2 .text {
  position: relative;
  height: auto;
}
.middle .container-2 .text p {
  position: relative;
}
.middle .content {
  max-width: 100%;
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 5em;
  color: black;
}
.middle .content .box_1:hover hr {
  width: 60%;
  transition: all 0.5s ease-in-out;
}
.middle .content .box_1 .horse {
  margin: 0;
  transform: scale(0);
  transition: all 0.9s ease 0s;
}
.middle .content .box_1 .horse._active {
  transform: scale(1);
}
.middle .content .box_1 .horse._active img:hover {
  opacity: 0.8;
  transform: translate(5%, 0px);
  transition: all 0.2s ease;
}
.middle .content .box_1 .horse img {
  min-width: 100%;
  opacity: 1;
  border-radius: 30px;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
.middle .content .box_1 .text {
  transform: translate(0px, 50%);
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.middle .content .box_1 .text._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.5s ease 0.3s;
}
.middle .content .box_1 h3 {
  height: 5%;
  margin: 15px 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: calc(20px + 0.3947368421vw);
  line-height: 32px;
  color: #8A6F3D;
}
.middle .content .box_1 h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: calc(16px + 0.2631578947vw);
  line-height: 27px;
  color: #251904;
}
.middle .content .box_1 hr {
  margin: 15px 0;
  width: 50px;
  height: 3px;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  background: #8A6F3D;
}
.middle .content .box_1 p {
  padding: 1% 0;
  width: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: calc(16px + 0.2631578947vw);
  line-height: 25px;
}

/*===========================BOTTOM===========================*/
.bottom {
  background-color: #F1F0EE;
}
.bottom .title {
  text-align: center;
  margin: 0 0 5% 0;
  font-weight: 600;
  font-size: calc(28px + 1.3157894737vw);
  line-height: 52px;
  letter-spacing: 0.02em;
  font-variant: all-small-caps;
  color: #8A6F3D;
}
.bottom .container-3 {
  padding: 4% 7%;
}
.bottom .content {
  justify-content: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-template-rows: repeat(3, 0.5fr);
  grid-gap: 1em;
  color: black;
}
.bottom .content .box {
  flex-basis: 1fr;
  padding: 15px;
  display: flex;
  border: 2px solid rgba(138, 111, 61, 0.5);
  border-radius: 30px;
}
.bottom .content .box .text {
  padding: 0 10px;
}
.bottom .content .box h3 {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: calc(16px + 0.2631578947vw);
  line-height: 27px;
}
.bottom .content .box p {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: calc(14px + 0.2631578947vw);
  line-height: 25px;
}
.bottom .content .box:hover {
  box-shadow: 4px 4px rgba(138, 111, 61, 0.5);
  transform: translateX(-7px);
  transition: all 0.3s ease;
}